.swiper-wrapper {
	transition-timing-function: linear;
}

.bar .bar-right {
	box-shadow: none !important;
}

.bar .bar-left {
	box-shadow: none !important;
}

.bar .caption .max-caption {
	background-color: #333333 !important ;
}

.bar .caption .min-caption {
	background-color: #333333 !important ;
}

.bar .caption {
	font-size: 100% !important ;
}
